body {
    background-color: silver;
    border: solid 2px black;
    height: 500px;
    width: 1050px;
   margin: 0 auto; margin-top: 50px;
   position: relative; 
}

.div1 {
    border: none;
    height: 160px;
    width: 160px;
    position: absolute; left: 0;
    
}
.div2 {
    border: none;
    height: 160px;
    width: 160px;
   position: absolute; bottom: 0;
}

.div3 {
    border: solid 1px;
    height: 160px;
    width: 160px;
    position: absolute; right:0;
}

.div4 {
    border:solid 1px;
    height: 160px;
    width: 160px;
    position: absolute; bottom: 0; right: 0;
}

.div5 {
    border: none;
    height: 120px;
    width: 120px;
    position: absolute; left: 250px; top: 50px;
}

.div6 {
    border: none;
    height: 120px;
    width: 120px;
    position: absolute; left: 290px; top: 100px;
}


.div7 {
    border: none;
    height: 120px;
    width: 120px;
    position: absolute; left: 350px; top: 180px;
}


.div8 {
    border: none;
    height: 120px;
    width: 120px;
    position: absolute; left: 400px; top: 250px;
}


.div9 {
    border: none;
    height: 120px;
    width: 120px;
    position: absolute; right: 400px; top: 250px;
}


.div10 {
    border: none;
    height: 120px;
    width: 120px;
    position: absolute; right: 350px; top: 180px;
}


.div11 {
    border: none;
    height: 120px;
    width: 120px;
    position: absolute; right: 290px; top: 100px;
}


.div12 {
    border: none;
    height: 120px;
    width: 120px;
    position: absolute; right: 250px; top: 50px;
}